<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Our Blog</title>
  <!-- Bootstrap CSS -->
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body style = background-color:rgb(225,155,238)>


  <div class="container my-5">
      {% include 'header.html' %}
    <div class="row mt-5">
      <div class="col-md-8">
        <h1 style="color:rgb(193, 24, 125)">Yosra's blog</h1>
        <p style="color:rgb(10, 146, 158)", class="lead">Welcome to our blog! We are a group of passionate writers and content creators who love to share our thoughts, ideas, and experiences with the world. Our blog covers a wide range of topics, from technology and business to travel and lifestyle.
        Our goal is to create a space where people can come to learn, be inspired, and engage with others. We believe that everyone has a unique perspective and something valuable to contribute, and we are committed to fostering a community where everyone feels welcome and respected.
        We started this blog because we believe that writing and sharing ideas is a powerful way to connect with others and make a positive impact in the world. We are passionate about the topics we write about and believe that by sharing our knowledge and experiences, we can help others learn and grow.
        If you have any comments, questions, or suggestions, please don't hesitate to reach out to us. We believe that the best conversations happen when everyone has a chance to share their perspective, so we welcome all feedback and ideas.
        Thank you for visiting our blog! We hope you enjoy .</p>
      </div>

    </div>
      {% include 'footer.html' %}
  </div>

  <!-- Bootstrap JS (optional) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>