<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

</head>
<body style = background-color:rgb(215,181,247)>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'posts' %}">Admin Panel</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a href="{% url 'regist' %}" class="nav-item nav-link">Register</a>
            <a href="{% url 'message' %}" class="nav-item nav-link">Messages</a>
            <a href="{% url 'logout' %}" class="nav-item nav-link">Logout</a>
        </div>
    </div>
</nav>

<div class="container my-5">
    <h1>Blog Posts</h1>

    <a href="{% url 'addpost' %}" class="btn btn-primary mb-3">Add Post</a>

    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Date Modified</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for post in posts %}
        <tr>
            <td>{{ post.title }}</td>
            <td>{{ post.date_modified }}</td>
            <td><a href="{% url 'updatepost' pk=post.pk %}" class="btn btn-primary">Edit</a></td>
            <td><a href="{% url 'deletepost' pk=post.pk %}" class="btn btn-danger">Delete</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<footer class="bg-light text-center py-3">
    <p>Copyright &copy;
        {% now "Y" %} My Blog. All rights reserved.
    </p>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>